<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plage d'années</title>
</head>
<body>
    <h1>Plage d'années</h1>
    <form id="rangeForm">
        <label for="startYearInput">Année de début :</label>
        <input type="number" id="startYearInput" name="startYear">
        <label for="endYearInput">Année de fin :</label>
        <input type="number" id="endYearInput" name="endYear">
        <button type="submit">Vérifier</button>
    </form>
    <div id="rangeResult"></div>


    <script src="range.js"></script>
</body>
</html>
